name: Build Flutter APK
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
            java-version: '11'
            distribution: 'zulu'
      - uses: subosito/flutter-action@v2
        with:
            flutter-version: '2.10.5'
      - run:  flutter pub get
      - run:  flutter build apk --release --no-tree-shake-icons
      - uses: actions/upload-artifact@v4
        with:
            name: release-apk
            path: build/app/outputs/flutter-apk/*.apk
