name: Build Flutter APK
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
            java-version: '11'
            distribution: 'zulu'
      - uses: subosito/flutter-action@v2
        with:
            flutter-version: '2.2.3'
      - run: sed -i '/mockito:/d' pubspec.yaml
      - run: flutter clean
      - run: rm -f pubspec.lock && flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons --no-sound-null-safety --no-strip
      - uses: actions/upload-artifact@v4
        with:
            name: release-apk
            path: build/app/outputs/flutter-apk/*.apk
